/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select:  one;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #FFD90F;
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  width: 100%;
}

/* Portrait layout (default) */
.app {
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio:  1/1) and (min-width: 400px) {
  .app {
    background-position: left center;
  }
}

.big-button {
  margin: 15px auto;
  border: 2px solid black;
  border-radius: 4px;
  width: 100px;
  height: 60px;
  cursor: pointer;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center;
}

.page-navigation {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  visibility: hidden;
  width: 100%;
}

.page-navigation.page-active {
  visibility: visible;
  z-index: 1;
}

.page-active,
.no-js .page-navigation {
  visibility: visible;
}
.no-js body {
  overflow: auto;
}

.pt-page-moveToLeft {
  animation: moveToLeft .6s ease both;
  -webkit-animation: moveToLeft .6s ease both;
}

.pt-page-moveFromLeft {
  animation: moveFromLeft .6s ease both;
  -webkit-animation: moveFromLeft .6s ease both;
}

.pt-page-moveToRight {
  animation: moveToRight .6s ease both;
  -webkit-animation: moveToRight .6s ease both;
}

.pt-page-moveFromRight {
  animation: moveFromRight .6s ease both;
  -webkit-animation: moveFromRight .6s ease both;
}

.food-image {
  width: 80%;
  max-width: 500px;
  border: 2px solid black;
  border-radius: 2px;
}

@keyframes moveToLeft {
  to { transform: translateX(-100%); }
}
@keyframes moveFromLeft {
  from { transform: translateX(-100%); }
}
@keyframes moveToRight {
  to { transform: translateX(100%); }
}
@keyframes moveFromRight {
  from { transform: translateX(100%); }
}

@-webkit-keyframes moveToLeft {
  to { -webkit-transform: translateX(-100%); }
}
@-webkit-keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); }
}
@-webkit-keyframes moveToRight {
  to { -webkit-transform: translateX(100%); }
}
@-webkit-keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); }
}

.btn {
  background: #FFD90F;
  -webkit-border-radius: 10;
  border-radius: 10px;
  color: #000;
  font-size: 20px;
  padding: 0;
  margin: 0;
  border: solid #000 4px;
  text-decoration: none;
  cursor: pointer;
  width: 90px;
  height: 45px;
  text-align: center;
}

.btn:hover {
  background: #cccccc;
  text-decoration: none;
}
